<div class="container container--auth">
  <div class="col-xs-6">
    <h4>Login with Google</h4>
    <button class="btn btn-info">Sign In</button>
  </div>
  <div class="col-xs-6 text-right">
    <section class="auth-form">
      <h4>Login/Register with Email</h4>
      <div>
        Email: <input type="text" autofocus="true">
      </div>
      <div>
        Password: <input type="password">
      </div>
      <div>
        <button class="btn btn-info">Login</button>
        <button class="btn btn-default">Register</button>
      </div>
    </section>
  </div>
</div>