<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#!/task-list">Brand*</a>
    </div>

  <div class="input-group col-xs-6 col-xs-offset-3">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchText.search">
  </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#!/task-list">Show All</a></li>
        <li><a ng-href="#!/items/newTask">Add Task</a></li>
        <li><a ng-href="#!/login" ng-show="!isLoggedIn"">Login</a></li>
        <li><a ng-href="#!/logout" ng-show="isLoggedIn" ng-controller="AuthCtrl"">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>