<h1>Task Details</h1>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item"><strong>Assigned To: </strong></li>
    <li class="list-group-item"><strong>Due Date:</strong></li>
    <li class="list-group-item"><strong>Dependencies:</strong></li>
    <li class="list-group-item"><strong>Location:</strong></li>
    <li class="list-group-item"><strong>Urgency:</strong></li>
    <li class="list-group-item"><strong>Completed:</strong></li>
  </ul>
  <button class="btn btn-info">Edit</button>
</div>